<div class="card-col-6">

  <div id="<%= dom_id clon_tuit %>">
  <p>
    <strong>User:</strong>
    <%= clon_tuit.user %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= clon_tuit.email %>
  </p>

  <p>
    <strong>Tuit:</strong>
    <%= clon_tuit.tuit %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= clon_tuit.date %>
  </p>

</div>

</div>
