<div class="card-col-6">
  <%= form_with(model: clon_tuit) do |form| %>
    <% if clon_tuit.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(clon_tuit.errors.count, "error") %> prohibited this clon_tuit from being saved:</h2>

        <ul>
          <% clon_tuit.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="border p-5 shadow">
    <div class="mb-4">
      <%= form.label :user, style: "display: block" %>
      <%= form.text_field :user %>
    </div>

    <div class="mb-5">
      <%= form.label :email, style: "display: block" %>
      <%= form.text_field :email %>
    </div>

    <div class="mb-6">
      <%= form.label :tuit, style: "display: block" %>
      <%= form.text_field :tuit %>
    </div>

    <div class="mb-7">
      <%= form.label :date, style: "display: block" %>
      <%= form.date_field :date %>
    </div>

    <div class="mb-8">
      <%= form.submit %>
    </div>
  <% end %>
</div>
</div>