

<h1 class="text-center">Clon tuits</h1>
<br><br>
<%= form_with url: clon_tuits_path, class: 'text-center', method: :get do |form|  %>
  <%= form.text_field :query_text, placeholder: ('Busqueda'), value: params[:query_text] %>
  <% end %>

<div id="clon_tuits" class="text-center">
  <% @clon_tuits.each do |clon_tuit| %>
    <%= render clon_tuit %>
    <p>
      <%= link_to "Show this clon tuit", clon_tuit %>
    </p>
  <% end %>
</div>
<br><br>
<%= raw pagy_nav(@pagy) %>
<br><br>

<%= link_to "New clon tuit", new_clon_tuit_path %>
